<h2 class="page-heading">Edit <%= member.name %></h2>
<form action="/member/<%= member.id %>?_method=PUT" method="POST">
  <%- include("_form_fields_edit.ejs")%>
  <div class="form-row form-row-end">
    <a class="btn btn-primary" href="/">Cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
    <%- include("../partials/delete",{url: `/member/${member.id}`})%> <%-
    include("../partials/extendseven",{url: `/member/${member.id}`})%> <%-
    include("../partials/extendft",{url: `/member/${member.id}`})%> <%-
    include("../partials/extendthirty",{url: `/member/${member.id}`})%>
  </div>
</form>
