<h2 class="page-header">Member <%= member.name %></h2>

<div>
  <img
    height="150px"
    width="100px"
    src="<%= member.coverPath %>"
    alt="member image"
  />
  <div>
    <div>
      <label for="last name">Last Name</label>
      <%= member.lastName %>
    </div>

    <div>
      <label for="joined date">Joined Date</label>
      <%= member.joinDate.toDateString() %>
    </div>
    <div>
      <label for="expiration date">Expiration Date</label>
      <%= member.expirationDate.toDateString() %>
    </div>
    <div>
      <label for="plan">Current plan</label>
      <%= member.plan %>
    </div>
  </div>
  <div class="btn-row">
    <a class="btn btn-primary" href="/">Cancel</a>
    <a class="btn btn-primary" href="/member/<%= member.id %>/edit">Edit</a>
    <%- include("../partials/delete",{url : `/member/${member.id}`})%>
  </div>
</div>
