<h2>Gym Members</h2>
<table>
  <th>Name</th>
  <th>Last Name</th>
  <th>Date Joined</th>
  <th>Expiration Date</th>
  <th>Plan</th>
  <th>Image</th>
  <th>Quick options</th>

  <% members.forEach(member=>{ %>
  <tr>
    <td><%= member.name %></td>
    <td><%= member.lastName %></td>
    <td><%= member.joinDate.toDateString() %></td>
    <td><%= member.expirationDate.toDateString() %></td>
    <td><%= member.plan %></td>

    <td>
      <img
        height="50"
        width="50"
        src="<%= member.coverPath %>"
        alt="member image"
      />
    </td>
    <td class="btn-row">
      <a class="btn btn-primary" href="/member/<%= member.id %>">View</a>
      <a class="btn btn-primary" href="/member/<%= member.id %>/edit">Edit</a>
      <%- include("./partials/delete.ejs",{url : `/member/${member.id}`}) %>
    </td>
  </tr>
  <%})%>
</table>
